@model IEnumerable<GlennisRecipes.BLL.ViewModels.RecipeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
@*    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>

    <div class="container">
        <div class="column">
@foreach (var item in Model) {

            <div class="col-xs-4">
                <tr>
                    <div class="container">
                        <td>
                            <img src="@(@"images\" + item.ImagePath)" />
                            @Html.DisplayFor(modelItem => item.Name)
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </div>
@*                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                         |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                </tr>
            </div>
}       </div>
    </div>
    </tbody>
</table>
